@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700;800&display=swap");

* {
	padding: 0;
	margin: 0;
	outline: none;
}

body {
	background-color: #fcfcfc;
	font-family: "Assistant", sans-serif;
	direction: rtl;
}

.hide {
	display: none;
}

.website-content {
	padding-top: 70px;
}

.table {
	width: 100%;
	border: 1px solid #EEEEEE;
}
  
.table th {
	display: flex;
	width: 100%;
	background: #000;
	padding: 18px 0;
	color: #fff;
	justify-content: center;
}
  
.table tr {
	display: flex;
	width: 100%;
	padding: 18px 0;
}

.table tr:nth-of-type(odd) {
	background: #EEEEEE;
}
  
.table td, .table th {
	flex: 1 1 20%;
	text-align: center;
}

/* Scrollbar */
:root {
	--scroll-bar-size: 10px;
	--scroll-bar-thumb-background-color: rgba(0, 0, 0, 0.2);
	--scroll-bar-thumb-background-color-active: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
	width: var(--scroll-bar-size);
	height: var(--scroll-bar-size);
	background: 0 0;
	cursor: pointer;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scroll-bar-thumb-background-color);
	border-radius: var(--scroll-bar-size);
	border-color: transparent;
	border-style: solid;
	border-width: calc(var(--scroll-bar-size) / 3);
	background-clip: padding-box;
}
::-webkit-scrollbar-thumb:active {
	background-color: var(--scroll-bar-thumb-background-color-active);
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
	border-width: 1px;
	background-color: var(--scroll-bar-thumb-background-color-active);
	cursor: pointer;
}

.section-title {
	font-size: 1.5rem;
	font-weight: bold;
}

/* Grid */
.container {
	max-width: 1500px;
	margin: auto;
	display: flex;
}

.container-inner {
	width: 100%;
}

a {
	text-decoration: none;
	color: #121212;
}

.cute-btn {
	padding: 10px 20px;
	background-color: #4caf50;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
}

button {
	cursor: pointer;
	user-select: none;
}

.button-chosen {
	border: 1px solid #444 !important;
}

.pagination {
	margin-top: 15px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.pagination button {
	padding: 10px 14px;
	background-color: #ebebeb;
	border-radius: 100%;
	color: #121212;
	border: none;
	margin-left: 5px;
}

.pagination button.active {
	background-color: rgba(127, 201, 41, 0.76);
	color: #fff
}

/* Header */
#main-nav {
	height: 70px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99999;
	background-color: #fff;
	display: flex;
	align-items: center;
}

#mobile-nav-toggler {
	display: none;
}

#main-nav > .container {
	width: 100%;
}

#nav-wrap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#nav-left > #auth-links {
	display: flex;
}

#nav-right {
	display: flex;
	align-items: center;
}

.nav-link {
	margin-left: 20px;
	font-size: 1.2rem;
	cursor: pointer;
}

.nav-link.active {
	font-weight: bold;
}

#nav-logo {
	font-size: 1.4rem;
	font-weight: bold;
	margin-left: 50px;
}

.auth-link {
	padding: 5px 10px;
	border-radius: 4px;
	border: 2px solid #e3e3e3;
	color: #565656;
	font-weight: bold;
	cursor: pointer;
}

.auth-link.login,
.auth-link.filter {
	background-color: rgba(127, 201, 41, 0.76);
	border: none;
	color: #fff;
	margin: 0 10px;
	line-height: calc(100% + 9px);
}

/* Footer */
footer {
	background-color: #ebebeb;
	text-align: center;
	color: #121212;
	padding: 15px;
	margin-top: 10px;
}

footer a {
	color: #121212;
}

/* Hero section */
#hero {
	background-image: url("/images/hero-bg.png");
	background-size: cover;
	padding: 100px 0;
	min-height: 250px;
	background-position-y: center;
	position: relative;
}

#hero:before {
	content: "";
	height: 100%;
	width: 60%;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url("/images/hero-img-left.png");
	background-position-x: 100%;
	background-position-y: 80%;
	z-index: 99;
}

#hero:after {
	content: "";
	height: 171px;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(/images/hero-bottom.png);
    background-position-x: center;
    background-position-y: 100%;
    background-size: cover;
    z-index: 999;
}

#hero-textuals {
	padding: 0 50px;
	color: #fff;
}

#hero-para {
	max-width: 400px;
	margin-top: 10px;
}

#hero-title {
	font-size: 2rem;
}

#hero-actions {
	margin-top: 30px;
}

#hero-actions a {
	color: #fff;
	font-weight: bold;
	margin-left: 10px;
}

#hero-action-get {
	background-color: #7fba3a;
	padding: 5px 13px;
	border-radius: 100px;
}

/* Give get choice section */
#give-get-choice-section {
	text-align: center;
	margin-top: 50px;
}

#give-get-choice-section-content {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

#give-get-left, #give-get-right {
	cursor: pointer;
}

#give-get-right > div > div > img,
#give-get-left > div > div > img {
	height: 130px;
}

#give-get-right > a,
#give-get-left > a {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

#give-get-middle > img {
	height: 250px;
}

.give-get-btn {
	padding: 5px 30px;
	font-weight: bold;
	color: #fff;
	border-radius: 100px;
	background: linear-gradient(180deg, #28b3d8 0%, #1a9ec0 100%);
	margin-top: 10px;
}

.give-get-btn.give {
	background: linear-gradient(
		180deg,
		rgba(127, 201, 41, 0.76) 0%,
		#80ba3a 100%
	);
}

.give-get-choice-p {
	max-width: 280px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

/* Stats section */
#stats-section {
	margin-top: 100px;
}

#stat-section-wrap {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#stats-section-left {
	padding-right: 20px;
}

.stats-title {
	font-weight: bold;
	margin-bottom: 10px;
}

.stats-title > span {
	color: rgba(127, 201, 41, 0.76);
}

#stats-box {
	background-image: url("/images/stats-box-bg.png");
	background-size: cover;
	padding: 30px 20px;
}

.stat-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	position: relative;
}

.stat-item:not(:last-child):after {
	content: "";
	background-image: url("/images/arrow-down.png");
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top: 5px;
	transform: translateX(-50%);
	height: 15px;
	width: 15px;
	background-size: contain;
	background-repeat: no-repeat;
}

.stat-item .num {
	height: 40px;
	width: 40px;
	line-height: 40px;
	display: inline-block;
	background-color: rgb(127, 201, 41);
	border-radius: 50%;
	text-align: center;
	color: #fff;
	margin-left: 10px;
}

.stat-item .text {
	font-weight: bold;
	max-width: 200px;
	display: inline-block;
}

/* Become a partnet section */
#become-partnet-section img {
	width: 100%;
	margin-top: 50px;
}

/* Signup */
#signup-hero {
	width: 100%;
	height: 350px;
	background-image: url("/images/signup-hero-bg.png");
	background-size: cover;
	background-position: center bottom;
}

#signup-form {
	margin-top: 50px;
}

#signup-title {
	color: #121212;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 40px;
}

#signup-title span {
	color: #28b3d8;
}

#signup-title.give span {
	color: rgb(127, 201, 41);
}

.signup-form-question {
	margin-bottom: 15px;
}

.question-text {
	font-size: 1.2rem;
	margin-bottom: 5px;
}

.question-guides {
	color: rgb(127, 201, 41);
	font-size: 1.1rem;
	margin-bottom: 5px;
}

.question-option {
	display: block;
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.question-option input[type="checkbox"],
.question-option input[type="radio"] {
	margin-left: 7px;
}

.expend-answer {
	border: none;
	border-bottom: 1px solid #000;
	margin-right: 10px;
	width: 140px;
	background-color: transparent;
}

#signup-form select {
	border: 1px solid #cecece;
	border-radius: 4px;
	padding: 6px 15px;
}

#getter-signup-details,
#giver-signup-details {
	background-color: rgb(127, 201, 41);
	padding: 30px;
	border-radius: 4px;
	margin-bottom: 50px;
}

.getter-signup-row {
	display: flex;
	justify-content: space-between;
}

.getter-signup-row input {
	border: 1px solid #cecece;
	padding: 5px 10px;
	border-radius: 4px;
	margin: 5px;
}

#getter-has-to-give-question {
	color: #fff;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 30px;
}

#getter-has-to-give-question .answer button {
	padding: 6px 12px;
	background-color: #fff;
	color: #000;
	border: none;
	border-radius: 4px;
	margin-left: 10px;
	margin-top: 5px;
}

#getter-has-to-give-question .answer button.active {
	border: 1px solid #444;
}

#signup-form input[type="submit"] {
	border: none;
	border-radius: 4px;
	padding: 6px 13px;
	background-color: #28b3d8;
	color: #fff;
	margin: auto;
	margin-top: 20px;
	width: 200px;
	cursor: pointer;
}

#signup-feedback {
	margin-top: 10px;
	margin-bottom: -10px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.submit-btn-wrap {
	display: flex;
	justify-content: center;
}

#tell-more-form-getter {
	background-color: #fff;
	padding: 20px;
	border-radius: 4px;
	margin-top: 10px;
}

.tell-more-getter-row {
	display: flex;
	margin-bottom: 15px;
	width: 100%;
}

.tell-more-getter-row > div {
	width: 100%;
}

.tell-more-getter-row.grid input {
	max-width: 120px;
}

.tell-more-getter-row input,
.tell-more-getter-row textarea {
	padding: 10px;
	border: none;
	border-radius: 4px;
	margin-left: 15px;
	border: 1px solid #cecece;
	margin-top: 3px;
	width: 100%;
	box-sizing: border-box;
}

.tell-more-getter-row textarea {
	height: 100px;
}

#giver-signup-details {
	max-width: 500px;
}

.question-options input {
	display: block;
	margin-top: 10px;
	border: none;
	border: 1px solid #ebebeb;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
}

/* Filter page */
#filter-wrap {
	width: 100%;
}

#filter-title {
	margin-top: 100px;
	margin-bottom: 100px;
}

#filter-title span {
	color: #28b3d8;
}

#filter-items {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#filter-items .filter-item {
	width: 33%;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#filter-items .filter-item .img img {
	width: 200px;
	border-radius: 4px;
}

#filter-items .filter-item .title {
	margin: 5px 0;
	font-weight: bold;
}

#filter-items .filter-item .options select {
	border: 1px solid #ebebeb;
	border-radius: 4px;
	padding: 5px 13px;
	width: 200px;
}

#pros-list-title {
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 20px;
}

.pro-item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.giver-img {
	height: 150px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ebebeb;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.giver-img img {
	height: 100px;
}

.pro-item-middle {
	padding: 20px;
	flex-grow: 1;
}

.pro-item-middle .name {
	font-weight: bold;
	font-size: 1.2rem;
}

.pro-item-left {
	display: flex;
	flex-direction: column;
}

.pro-item-left a {
	text-align: center;
}

.pro-item-left > img {
	height: 90px;
}

.pro-item-left .cute-btn {
	font-size: 0.7rem;
	padding: 10px;
}

#main-signup-hero {
	width: 100%;
	height: 350px;
	background-image: url("/images/signup-hero-bg.png");
	background-size: cover;
	background-position: center bottom;
	position: relative;
}

#signup-hero-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	color: #fff;
}

#no-pros-found {
	margin-bottom: 20px;
	font-weight: normal;
}

/* Login */
#login-hero {
	width: 100%;
	height: 350px;
	background-image: url("/images/signup-hero-bg.png");
	background-size: cover;
	background-position: center bottom;
	position: relative;
}

#login-hero-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	color: #fff;
}

#login-form {
	display: flex;
	flex-direction: column;
	max-width: 450px;
	margin: 50px auto;
}

#login-form input {
	width: 100%;
	display: block;
	margin-top: 10px;
	border: none;
	border: 1px solid #ebebeb;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
}

#login-form input[type="submit"] {
	/* background: #; */
	border: none;
}

#not-registered-msg {
	margin-top: 10px;
	text-align: center;
}

#not-registered-msg a {
	color: rgba(127, 201, 41, 1);
	font-weight: bold;
}

#login-feedback {
	margin-top: 5px;
	font-size: 0.9rem;
	text-align: center;
}

/* Chat */
@import "chat.css";

/* Meeting */	
#meeting-wrap {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
}

#meeting-left {
	padding-right: 30px;
}

#meeting-options {
	max-width: 350px;
}
.giz-calendar {
	margin: auto; /*this is optional property*/
	border-radius: 4px;
	max-width: 100%;
	min-height: 1.6rem;
	box-shadow: 0 0 17px #d3d3d38c;
	overflow: hidden;
}
.giz-calendar button {
	border: none;
	cursor: pointer;
	margin: 0;
	background-color: transparent;
	padding: 0.6rem 0.8rem;
}
.giz-calendar button > span {
	line-height: 1.15rem;
    letter-spacing: -0.05rem;
}
.giz-calendar .giz-calendar-header {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	background-color: #9dd65c;
	padding: 0.8rem 2.4rem;
	color: #fff;
	font-weight: bold;
}
.giz-calendar .giz-calendar-header button {
	color: #fff;
}
.giz-calendar .giz-calendar-header button:hover {
	background-color: #0000000d;
}
.giz-calendar .giz-calendar-header button .giz-calendar-year-title {
	font-size: 2.56rem;
}
.giz-calendar .giz-calendar-header button .giz-calendar-title {
	font-size: 2rem;
}
.giz-calendar .giz-calendar-content {
	background: #fff;
	padding: 0.8rem 1rem;
}
.giz-calendar .giz-calendar-content .active {
	background-color: #9dd65c;
	color: #fff;
}
.giz-calendar .giz-calendar-content .hide {
	display: none;
}
.giz-calendar .giz-calendar-content button {
	height: 2.5rem;
	width: 2.5rem;
	font-size: 1.1rem;
	display: inline-block;
	border-radius: 50%;
	background: transparent;
}
.giz-calendar .giz-calendar-content button:hover:not(.active) {
	background: #0000000d;
}
.giz-calendar .giz-calendar-content .giz-calendar-title-switch {
	align-items: center;
	margin: 0.8rem 0rem;
	display: flex;
	justify-content: center;
}
.giz-calendar
	.giz-calendar-content
	.giz-calendar-title-switch
	.giz-calendar-title-slide {
	font-size: 1.4rem;
}
.giz-calendar
	.giz-calendar-content
	.giz-calendar-title-switch
	.giz-calendar-title-slide:hover {
	cursor: pointer;
	font-weight: 600;
}
.giz-calendar .giz-calendar-content .giz-calendar-title-switch button:hover {
	background: #0000000d;
}
.giz-calendar .giz-calendar-content .giz-calendar-weekday {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	color: #0000008a;
	place-items: center;
	margin-bottom: 0.8rem;
	font-size: 1rem;
}
.giz-calendar .giz-calendar-content .giz-calendar-day {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	align-items: center;
	grid-template-rows: repeat(6, 1fr);
	place-items: center;
}
.giz-calendar .giz-calendar-content .giz-calendar-day .giz-calendar-day-count {
	font-size: 1rem !important;
}
.giz-calendar .giz-calendar-content .giz-calendar-month {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	grid-row-gap: 0.8rem;
	grid-template-rows: auto;
	margin-bottom: 0.8rem;
}
.giz-calendar
	.giz-calendar-content
	.giz-calendar-month
	.giz-calendar-month-count {
	font-size: 1.6rem;
}
.giz-calendar .giz-calendar-content .giz-calendar-month button {
	width: auto;
	border-radius: 4px;
	padding: 0.3rem 2.5rem;
}
.giz-calendar .giz-calendar-content .giz-calendar-action {
	display: flex;
	justify-content: flex-end;
}
.giz-calendar .giz-calendar-content .giz-calendar-action button {
	width: auto;
	border-radius: 4px;
	padding: 0.3rem 2.5rem;
	color: #9dd65c;
}
.giz-calendar .giz-calendar-content .giz-calendar-action button:hover {
	background-color: #9dd65c;
	color: #fff;
}

/* time picker */
.time-picker {
	margin: auto; /*this is optional property*/
	border-radius: 4px;
	max-width: 28rem;
	min-height: 1.6rem;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14),
		0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.time-picker button {
	border-radius: 4px;
	border: none;
	cursor: pointer;
	margin: 0;
	background-color: transparent;
	padding: 0.2rem 0.5rem;
}
.time-picker button > span {
	line-height: 1.75;
	letter-spacing: -0.08rem;
}
.time-picker .time-picker-header {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	background-color: #9dd65c;
	padding: 0.8rem 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.time-picker .time-picker-header .time-picker-title {
	font-size: 5.8rem;
	color: white;
}
.time-picker .time-picker-header .time-picker-ampm {
	display: flex;
	flex-direction: column;
}
.time-picker .time-picker-header .time-picker-ampm .time-picker-label {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 600;
}
.time-picker .time-picker-content {
	padding: 1.2rem 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}
.time-picker .time-picker-content .shade button {
	height: 3.5rem;
	width: 3.5rem;
	font-size: 1.4rem;
	display: inline-block;
	border-radius: 50%;
}
.time-picker .time-picker-content .shade button:hover {
	background-color: #0000000d;
}
.time-picker .time-picker-content .shade input {
	width: 100%;
	text-align: center;
	border: none;
	font-size: 20px;
	font-weight: 500;
	padding: 10px;
}
.time-picker .time-picker-content .shade input:focus {
	outline: none;
	border: none;
}
.time-picker .time-picker-content .time-picker-separator {
	font-size: 24px;
}
.time-picker .time-picker-content .timer-action button {
	padding: 0.6rem 0.9rem;
	color: #9dd65c;
	font-size: 14px;
}
.time-picker .time-picker-content .timer-action button:hover {
	background-color: #9dd65c;
	color: white;
}
.time-picker .time-picker-footer {
	border-top: 1px solid #ddd;
}
.time-picker .time-picker-footer button {
	padding: 1.2rem 1.5rem;
	color: #9dd65c;
	font-size: 14px;
}
.time-picker .time-picker-footer button:hover {
	background-color: #9dd65c;
	color: white;
}
.time-picker .time-picker-footer .active {
	background-color: #9dd65c !important;
	color: white !important;
}

#time-select {
	direction: ltr;
}

#time-select select {
	padding: 5px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	margin: 0 5px;
}

#set-meeting-feedback {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Admin panel */
#tab-triggers {
	margin-top: 20px;
}

.tab-trigger {
	padding: 8px 15px;
	border-radius: 30px;
	border: none;
	font-size: 1rem;
	margin-left: 10px;
}

.tab-trigger.active {
	background-color: rgba(127, 201, 41, 0.76);
	color: #fff;
}

#admin-tab-content {
	width: 100%;
	margin-top: 15px;
}

.table .type-badge span {
	padding: 4px 8px;
	border-radius: 3px;
	font-size: 0.8rem;
	background-color: #9ed666;
	display: inline-block;
	color: #fff;
}

.table .type-badge.giver span {
	background-color: #28b3d8;
}

.last-seen-para {
	color: #555;
}